h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 620px;
  text-align: center;
}
#wrapper {
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}
.cell {
  background-color: green;
  border-style: solid;
  border-color: darkgreen;
  text-align: center;
  line-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.cell:hover {
  background-color: lightgreen !important;
}
.inactivecell {
  background-color: grey;
  border-style: solid;
  border-color: black;
  text-align: center;
  line-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}
.seven {
  grid-column: 1;
  grid-row: 3;
}
.eight {
  grid-column: 2;
  grid-row: 3;
}
.nine {
  grid-column: 3;
  grid-row: 3;
}
button {
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 30px;
  font-weight: bold;
  background: green;
  border: none;
}
button:hover {
  background: lightgreen;
}
#score {
  width: 620px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.score-player {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#reset {
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#game-over-text {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: auto;
  margin-bottom: 30px;
}
#resetbutton {
  width: 100px;
  text-align: center;
  margin: auto;
}